<h1>Jeweled Cat Collar</h1> 
<button type = "button" onclick = "history.go(-1); return false;">Go Back</button>
<div class = "container-fluid">
  <div class = "row">
    <div class = "col-lg-6">
      <img src= "http://ecx.images-amazon.com/images/I/41651tY9EHL.jpg" alt = "leash" >
    </div>
  
    <div class = "row">
    <div class = "col-lg-6">
      <p>Price: <%= @products.price %></p>
      <p>Product Description: <%= @products.descriptioin %></p>
      <p>Size: <%= @products.size %></p>
      <p>Color: <%= @products.color %></p>
    </div>
  </div>
</div>

