<h1>Orange Chewy Ball</h1> 
<button type = "button" onclick = "history.go(-1); return false;">Go Back</button>
<div class = "container-fluid">
  <div class = "row">
    <div class = "col-lg-6">
      <img src= "http://3.bp.blogspot.com/-fAWgDqnVYiw/UEygSgM67uI/AAAAAAAAABI/J-sV_BA8AcA/s300/ChuckIt%2BUltra%2BBalls.jpg" alt = "Chewy Ball" >
    </div>
  
    <div class = "row">
    <div class = "col-lg-6">
      <p>Price: <%= @products.price %></p>
      <p>Product Description: <%= @products.descriptioin %></p>
      <p>Size: <%= @products.size %></p>
      <p>Color: <%= @products.color %></p>
    </div>
  </div>
</div>