<h1>Dog Food Bowl</h1> 
<button type = "button" onclick = "history.go(-1); return false;">Go Back</button>
<div class = "container-fluid">
  <div class = "row">
    <div class = "col-lg-6">
      <img src= "http://rlv.zcache.com/dog_bowl_by_janz_large_in_sky_blue_pet_bowl-r9a4f4356727c4c6aaa8fb58dfce5b0c9_2iwjt_8byvr_324.jpg" alt = "Food Bowl" >
    </div>
  
    <div class = "row">
    <div class = "col-lg-6">
      <p>Price: <%= @products.price %></p>
      <p>Product Description: <%= @products.descriptioin %></p>
      <p>Size: <%= @products.size %></p>
      <p>Color: <%= @products.color %></p>
    </div>
  </div>
</div>
